.navbar.navbar-inverse
  .navbar-inner
    .container-fluid
      button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      ul.nav
        li.dropdown
          a.brand.dropdown-toggle(href='#', data-toggle="dropdown") MySQL Admin 
            b.caret
          ul.dropdown-menu
            li: a(href='#') Action
            li: a(href='#') Another action
            li: a(href='#') Something else here
            li.divider
            li.nav-header Nav header
            li: a(href='#') Separated link
            li: a(href='#') One more separated link
      ul.nav.nav-collapse.collapse
        li.active: a(href='/') Databases
        li: a(href='/') Tables
        li: a(href='/') Query
